# Dependencies
node_modules/
**/node_modules/

# Next.js build output
frontend/.next/
frontend/out/

# Backend compilation output & SQLite DB
backend/dist/
backend/prisma/dev.db
backend/prisma/dev.db-journal

# Environment variables
.env
.env.local
.env.development.local
.env.production.local

# Logs & System
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode/
